[*.cs]
dotnet_diagnostic.MA0004.severity = none

dotnet_diagnostic.MA0051.severity = none

dotnet_diagnostic.MA0016.severity = none

dotnet_diagnostic.MA0048.severity = none

dotnet_diagnostic.MA0134.severity = none

dotnet_diagnostic.MA0046.severity = none

dotnet_diagnostic.CA2254.severity = none